@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/futura-display');

*

body{
    background-image: url('/images/herois-viloes\ \(2\).png');
    background-repeat: no-repeat;
    background-attachment: fixed; /*mantém a imagem fixa */
    background-color: rgba(000, 000, 0, 1); /* Adicione transparência ao fundo (0.9 significa 90% de opacidade) */
    background-position: center;
    font-family: 'Futura-Display', sans-serif;
    color: #000;
}
/* Estilização do ícone de hambúrguer */
.menuHamburguer {
    display: none; /* Inicialmente oculto em telas maiores */
    cursor: pointer;
}

.menuResponsive {
    display: none; /* Inicialmente oculto em telas maiores */
    cursor: pointer;
}

.placar {
    position: absolute;
    top: 100px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    display: none;
}

.select-customization {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.selected-option {
    display: flex;
    align-items: center;
}

.selected-option img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
}

.options li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.options li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.custom-select.open .options {
    display: block;
}

.select-customization {
    min-width: 200px; /* Define uma largura mínima para evitar a compressão excessiva em telas menores */
}

.selected-option img {
    width: 20px; /* Reduz o tamanho da imagem em telas menores */
    height: 20px;
    margin-right: 8px;
}

.options li img {
    width: 20px; /* Reduz o tamanho da imagem das opções em telas menores */
    height: 20px;
    margin-right: 8px;
}

/* Adapta os estilos para telas menores */
@media (max-width: 600px) {
    .select-customization {
        min-width: 100%; /* Usa toda a largura disponível em telas menores */
    }

    .selected-option img {
        width: 16px; /* Reduz ainda mais o tamanho da imagem em telas muito pequenas */
        height: 16px;
        margin-right: 6px;
    }

    .options li img {
        width: 16px; /* Reduz ainda mais o tamanho da imagem das opções em telas muito pequenas */
        height: 16px;
        margin-right: 6px;
    }
}

@media (max-width: 600px) {
    .responsive-select {
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .custom-select {
        margin-top: 10px;
        position: relative;
        width: 80%; /* Ajusta a largura para ocupar 80% da largura disponível */
        margin-left: 10%; /* Centraliza horizontalmente */
    }

    .select-customization {
        border: 2px solid #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e61300;
    }

    .selected-option {
        background-color: #e61300;
        color: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }

    .options {
        width: 100%;
    }

    .options li {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color 0.3s ease;
    }

    .options li img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 50%;
    }

    .custom-select.open .options {
        display: block;
    }

    .select-customization::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0;
        border-color: #fff transparent transparent transparent;
    }

    #selected-personagem-text {
        flex-grow: 1;
        margin: 0.01%;
    }
}

@media (max-width: 600px) {
    .placar {
        top: 60px; /* Ajusta a posição superior do placar em telas menores */
        left: 20px; /* Mantém o placar no canto esquerdo */
    }

    .custom-select {
        margin-top: 10px; /* Reduz o espaçamento superior do menu de seleção de personagens */
        position: absolute;
        top: 20px;
        left: 20px; /* Move o menu para o canto esquerdo */
    }

    table {
        top: 120px; /* Ajusta a posição superior da tabela em telas menores */
    }
}

@media (max-width: 600px) {

    .placar {
        position: absolute;
        top: 60px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: flex;
        align-items: center;
    }

    .menuHamburguer {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1000;
    }

    table {
        position: absolute;
        top: 200px;
        left: 0%;
        transform: none;
        width: 80%; /* Ajuste o valor da largura da tabela */
        height: 80%; /* Ajuste o valor da altura da tabela */
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }
}

/* Estilo para o time azul */
.time-azul {
    color: #0071cf; /* Cor azul para o time */
    margin-right: 20px; /* Espaçamento entre o nome do time e o número */
}

/* Estilo para o time vermelho */
.time-vermelho {
    color: #e61300; /* Cor vermelha para o time */
    margin-left: 20px; /* Espaçamento entre o nome do time e o número */
}

/* Estilo para o "vs" no meio */
.versus {
    margin: 0 20px; /* Espaçamento entre "vs" e os times */
}

/* estilos para o menu de seleção de personagens */
.custom-select {
    margin-top: 20px;
    position: relative;
}

.select-customization {
    border: 2px solid #fff; /* borda branca ao redor do menu */
    border-radius: 5px; /* Cantos arredondados */
    overflow: hidden; /* Esconde as opções fora do contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

.selected-option {
    background-color: #e61300; /* Cor de destaque para a opção selecionada */
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto; /* Adiciona rolagem para o caso de muitas opções */
}

.options li {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.options li:hover {
    background-color: #e61300; /* Cor de destaque ao passar o mouse */
    color: #fff;
}

.options li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.custom-select.open .options {
    display: block;
}

/* estilos para a seta ao lado da opção selecionada */
.select-customization::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0;
    border-color: #fff transparent transparent transparent;
}

/* estilos para o texto da opção selecionada */
#selected-personagem-text {
    flex-grow: 1; /* Ocupa todo o espaço disponível */
    margin: 0.01%;
}

@media (max-width: 600px) {
    .custom-select {
        width: 100%; /* Ajusta a largura para telas menores */
    }
}

/* Mostrar o ícone de hambúrguer em telas menores */
@media (max-width: 600px) {
    .menuHamburguer {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu{
        display: none;
    }

}

.menuResponsive.active {
    position: absolute;
    top: 60px; 
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* sombra ao menu */
}

.menuResponsive .menu-button {
    font-size: 14px; 
    padding: 15px 35px;
    display: block;
    margin: 18px auto; 
    text-align: center; 
    width: 150px; 
}

.close-button {
    background-color: #e61300;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px; /* Espaçamento superior */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-button:hover {
    background-color: #0071cf;
}

.menuHamburguer.active .bar {
    background-color: #fff; /* Cor das barras do ícone quando ativo */
}

/* Estilização do menu responsivo oculto */
.menuResponsive.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
    z-index: 9999;
    text-align: center;
    padding-top: 60px; /* espaçamento superior */
}

.menuResponsive a {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px; /* Tamanho do texto do menu */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

/* Estilização do menu */
.menu {
    width: 100%;
    background-image: url('/images/menu.jpg');
    background-position: center +30%;
    background-size: cover;
    text-align: center;
    padding: 15px 0;
    font-family: 'Futura-Display', sans-serif;
}


/* Estilização dos botões do menu */
.menu-button {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #e61300; /* Vermelho temático */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeito de transformação suave */
}

.menu-button i {
    margin-right: 8%;
}

/* Adicione ícones de personagens ao lado dos textos dos botões */
.menu-button::before {
    margin-right: 5px;
    font-size: 18px;
}

/* Quando o mouse está em cima dos botões */
.menu-button:hover {
    background-color: #0071cf; /* Azul temático */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
}

/* Deixando o menu responsivo */
@media (max-width: 600px) {
    .menu-button {
        font-size: 14px; /* tamanho da fonte em telas menores */
        padding: 8px 12px; /* espaçamento interno em telas menores */
    }

    .menu-button i {
        font-size: 14px; /* Tamanho do ícone em telas menores */
    }
}

/* Estilizei as células da tabela */
table {
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
}

/* Criando a aura branca atrás da tabela */
table::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    padding-bottom: 110%;
    background-color: rgba(255, 255, 255, 0.2); /* Cor branca totalmente transparente */
    border-radius: 50%;
    z-index: -1;
}

/* Células da tabela em tela menores */
@media (max-width: 600px) {
    td {
        width: 100px; /* tamanho das células em telas menores */
        height: 100px;
        font-size: 50px;
    }
}

td {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    border: 6px solid #fff;
}

/* Retirei as bordas das células nas pontas */
tr:first-child td {
    border-top: none; /* Remova a borda superior da primeira linha */
}

tr:last-child td {
    border-bottom: none; /* Remova a borda inferior da última linha */
}

td:first-child {
    border-left: none; /* Remova a borda esquerda da primeira coluna */
}

td:last-child {
    border-right: none; /* Remova a borda direita da última coluna */
}

/* Media query para telas menores */
@media (max-width: 600px) {
    td {
        width: 100px; /* tamanho das células em telas menores */
        height: 100px;
        font-size: 50px;
    }
}

footer {
    background-color: #e61300; 
    color: #fff; 
    padding: 20px 0; /* Espaçamento interno superior e inferior */
    text-align: center; /* conteúdo do footer */
    font-size: 14px; 
    font-weight: bold; /* Texto em negrito */
}

/* Estilo para o conteúdo do footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; 
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 0 20px; /* Espaçamento interno nas laterais */
}

/* Estilo para o link de direitos autorais */
.footer-content p:last-child {
    font-size: 12px; /* Tamanho da fonte menor para o link de direitos autorais */
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content p {
        margin: 10px 0;
    }
}

