*
body{
    background-color: #DBFF00;
}

.jogo-da-velha{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* fr = frações de espaço disponível */
    grid-template-rows: repeat(3, 1fr); /* fr = frações de espaço disponível */
    gap: 5px; /*espaço entre as linhas*/
    max-width: 300px; /* largura máxima do tabuleiro */
    margin: 0 auto; /* estou centralizando o tabuleiro no centro da página */
}

.celula{
    width: 100%;
    padding-top: 100%; /* estou criando células quadradas */
    background-color: #fff;
    border: 2px solid #000;
}

/* estou editando os personagens aqui */
.celula-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsividade para celulares */
@media (max-width: 600px) {
    .jogo-da-velha{
        max-width: 90%; /*reduzindo a largura máxima em telas menores */
    }
}

footer{
    justify-content: center;
}

#h1{
    position: relative;
    justify-items: center;
   
}