*

body{
    background-image: url('/images/herois-viloes\ \(2\).png');

    background-repeat: no-repeat;
    background-attachment: fixed; /*mantém a imagem fixa */
    background-color: rgba(000, 000, 0, 1); /* Adicione transparência ao fundo (0.9 significa 90% de opacidade) */
    background-position: center;
    font-family: 'Futura-Display', sans-serif;
    color: #000;
}

@import url('https://fonts.cdnfonts.com/css/futura-display');

/* Estilização do ícone de hambúrguer */
.menuHamburguer {
    display: none; /* Inicialmente oculto em telas maiores */
    cursor: pointer;
}

/* Mostrar o ícone de hambúrguer em telas menores */
@media (max-width: 600px) {
    .menuHamburguer {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    /* Esconda o menu principal em telas menores */
    .menu {
        display: none;
    }

    /* Estilização do menu oculto */
    .menu.active {
        display: block;
        background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    .menu.active a {
        color: #fff; /* Cor do texto no menu oculto */
    }
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

/* Estilização do menu */
.menu {
    width: 100%;
    background-image: url('/images/menu.jpg');
    background-position: center +30%;
    background-size: cover;
    text-align: center;
    padding: 15px 0;
    font-family: 'Futura-Display', sans-serif;
}


/* Estilização dos botões do menu */
.menu-button {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #e61300; /* Vermelho temático */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeito de transformação suave */
}

.menu-button i {
    margin-right: 8%;
}

/* Adicione ícones de personagens ao lado dos textos dos botões */
.menu-button::before {
    margin-right: 5px;
    font-size: 18px;
}

/* Quando o mouse está em cima dos botões */
.menu-button:hover {
    background-color: #0071cf; /* Azul temático */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
}

/* Deixando o menu responsivo */
@media (max-width: 600px) {
    .menu-button {
        font-size: 14px; /* tamanho da fonte em telas menores */
        padding: 8px 12px; /* espaçamento interno em telas menores */
    }

    .menu-button i {
        font-size: 14px; /* Tamanho do ícone em telas menores */
    }
}

/* Estilizei as células da tabela */
table {
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
}

/* Criando a aura branca atrás da tabela */
table::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    padding-bottom: 110%;
    background-color: rgba(255, 255, 255, 0.2); /* Cor branca totalmente transparente */
    border-radius: 50%;
    z-index: -1;
}

/* Células da tabela em tela menores */
@media (max-width: 600px) {
    td {
        width: 50px; /* tamanho da célula em telas menores */
        height: 50px;
        font-size: 16px;
    }
}

td {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    border: 6px solid #fff;
}

/* Retirei as bordas das células nas pontas */
tr:first-child td {
    border-top: none; /* Remova a borda superior da primeira linha */
}

tr:last-child td {
    border-bottom: none; /* Remova a borda inferior da última linha */
}

td:first-child {
    border-left: none; /* Remova a borda esquerda da primeira coluna */
}

td:last-child {
    border-right: none; /* Remova a borda direita da última coluna */
}

/* Media query para telas menores */
@media (max-width: 600px) {
    td {
        width: 50px; /* tamanho das células em telas menores */
        height: 50px;
        font-size: 16px;
    }
}

footer{
    justify-content: center;
}

#h1{
    position: relative;
    justify-items: center;
   
}